@media screen and (min-width:1153px){
/* animation */
.scapic:hover img{ transform:scale(1.1); -webkit-transform:scale(1.1); }
.scale-img img{ -webkit-transform: scale(1.1); transform: scale(1.1); -webkit-transition: 5s; transition: 5s; }
.active .scale-img img{ -webkit-transform: none; transform: none; }
.transY{ -webkit-transform: translateY(60px); transform: translateY(60px); opacity: 0; visibility: hidden; }
.transYF{ -webkit-transform: translateY(-60px); transform: translateY(-60px); opacity: 0; visibility: hidden; }
.transYF100{ -webkit-transform: translateY(-100%); transform: translateY(-100%); opacity: 0; visibility: hidden; }
.transX{ -webkit-transform: translateX(60px); transform: translateX(60px); opacity: 0; visibility: hidden; }
.transXF{ -webkit-transform: translateX(-60px); transform: translateX(-60px); opacity: 0; visibility: hidden; }
.active .transYF100,
.active .transY,
.active .transYF,
.active .transX,
.active .transXF{ -webkit-transform: translate(0); transform: translate(0); opacity: 1; visibility: visible; }
.trans{ -webkit-transition: 700ms ease-out; transition: 700ms ease-out; }
.dly-1{ -webkit-transition-delay: 100ms; transition-delay: 100ms; }
.dly-2{ -webkit-transition-delay: 200ms; transition-delay: 200ms; }
.dly-3{ -webkit-transition-delay: 300ms; transition-delay: 300ms; }
.dly-4{ -webkit-transition-delay: 400ms; transition-delay: 400ms; }
.dly-5{ -webkit-transition-delay: 500ms; transition-delay: 500ms; }
.dly-6{ -webkit-transition-delay: 600ms; transition-delay: 600ms; }
.dly-7{ -webkit-transition-delay: 700ms; transition-delay: 700ms; }
.dly-8{ -webkit-transition-delay: 800ms; transition-delay: 800ms; }
.active .am-lsi { -webkit-animation: lightSpeedIn 800ms both; animation: lightSpeedIn 800ms both; }
.active .am-fiu { -webkit-animation: fadeInUp 800ms both; animation: fadeInUp 800ms both; }
.active .am-fid { -webkit-animation: fadeInDown 800ms both; animation: fadeInDown 800ms both; }
.active .am-fir { -webkit-animation: fadeInRight 800ms both; animation: fadeInRight 800ms both; }
.active .am-fil { -webkit-animation: fadeInLeft 800ms both; animation: fadeInLeft 800ms both; }
.active .am-rvv{ position: relative; /* display: inline-block; vertical-align: bottom; */ /* 文字加上 */ }
.active .am-rvv:before{ content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000; -webkit-transform: scaleY(0); transform: scaleY(0); -webkit-transform-origin: 0% 0% 0px; transform-origin: 0% 0% 0px; -webkit-animation: reveal-v 2s 200ms cubic-bezier(0, 0, 0.2, 1) both; animation: reveal-v 2s 200ms cubic-bezier(0, 0, 0.2, 1) both; }
.active .am-rvl{ position: relative; /* display: inline-block; vertical-align: bottom; */ /* 文字加上 */ }
.active .am-rvl:before{ content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000; -webkit-transform: scaleX(0); transform: scaleX(0); -webkit-transform-origin: 0% 0% 0px; transform-origin: 0% 0% 0px; -webkit-animation: reveal-l 2s 200ms cubic-bezier(0, 0, 0.2, 1) both; animation: reveal-l 2s 200ms cubic-bezier(0, 0, 0.2, 1) both; }
.active .am-delay-1 { -webkit-animation-delay: 100ms; animation-delay: 100ms; }
.active .am-delay-2 { -webkit-animation-delay: 200ms; animation-delay: 200ms; }
.active .am-delay-3 { -webkit-animation-delay: 300ms; animation-delay: 300ms; }
.active .am-delay-4 { -webkit-animation-delay: 400ms; animation-delay: 400ms; }
.active .am-delay-5 { -webkit-animation-delay: 500ms; animation-delay: 500ms; }
.active .am-delay-6 { -webkit-animation-delay: 600ms; animation-delay: 600ms; }
.active .am-delay-7 { -webkit-animation-delay: 700ms; animation-delay: 700ms; }
.active .am-delay-8 { -webkit-animation-delay: 800ms; animation-delay: 800ms; }
.active .am-delay-9 { -webkit-animation-delay: 900ms; animation-delay: 900ms; }
.active .am-delay-10 { -webkit-animation-delay: 1000ms; animation-delay: 1000ms; }
.active .am-delay-11 { -webkit-animation-delay: 1100ms; animation-delay: 1100ms; }
.active .am-delay-12 { -webkit-animation-delay: 1200ms; animation-delay: 1200ms; }
/* animation end */
.nav li > a:hover{ background: #df2128; color: #fff; }
.h-link a:hover{ background: #df2128; }
.h-link a:hover i{ color: #fff; }
.h-link a:hover .aico{ background-position: -185px -60px; }
.h-lang a:hover{ background: #df2128; color: #fff; }
.tnav > a:hover{ background: #df2128; color: #fff; }
.video-box:hover .bico{ -webkit-transform: scale(0.9); transform: scale(0.9); }
.in-tx:hover .ti{ color: #df2128; }
.ia-more a:hover{ background: #fff; color: #df2128; }
.ia-more span:hover{ background: #fff; color: #df2128; }
.footer a:hover{ color: #df2128; }
.pnav a:hover:before{ width: 100%; left: 0; right: auto; }
.pnav a:hover{ color: #df2128; }
.ai-nav dd:hover:before{ -webkit-transform: none; transform: none; opacity: 1; visibility: visible; }
.ai-nav dd:hover .ico{ background-position: center bottom; }
.ia-more.ab-more a:hover{ border-color: #df2128; background-color: #df2128; color: #fff; }
.leader-list .ma:hover{ -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, .2); box-shadow: 0 0 15px rgba(0, 0, 0, .2); }
.his-more p:hover{ background: #df2128; border-color: #df2128; color: #fff; }
.ab-vi a:hover{ color: #df2128; }
.see-more a:hover{ background: #999; }
.see-btn a:hover{ color: #999; }
.tk-btn a:hover{ border-color: #df2128; color: #df2128; }
.ly-close:hover .aico{ -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.station-list .video-box:hover{ background: #df2128; }
.station-list .video-box:hover .txts{ border-color: #df2128; color: #fff; }
.station-list .video-box:hover .picbox:after{ border-color: #df2128; } 
.station-more a:hover{ background: #df2128; }
.news-list a:hover{ -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, .2); box-shadow: 0 0 20px rgba(0, 0, 0, .2); }
.news-list a:hover .t{ background: #df2128; }
.news-list a:hover .nw-date{ border-color: #fff; color: #fff; }
.news-list a:hover .ti{ color: #fff; }
.news-list a:hover .nw-dot,
.news-list a:hover .nw-dot:after,
.news-list a:hover .nw-dot:before{ background: #df2128; } 
.news-list a:hover .pic img{ transform:scale(1.1); -webkit-transform:scale(1.1); }
.nd-back a:hover{ background: #df2128; color: #fff; }
.share a:hover{ background-position: center bottom; }
.gh-list a:hover{ color: #df2128; }
.gh-list a:hover .dico{ background-color: #df2128; }
.gh-list .c1:hover .dico{ background-position: 0px -58px; }
.gh-list .c2:hover .dico{ background-position: -58px -58px; }
.gh-list .c3:hover .dico{ background-position: -116px -58px; }
.gh-list .c4:hover .dico{ background-position: -174px -58px; }
.bd-btn a:hover{ background-color: #df2128; }
.bd-btn a:hover i{ color: #fff; }
.bd-btn .b1:hover .dico{ background-position: 0px -116px; } 
.bd-btn .b2:hover .dico{ background-position: -50px -116px; } 
.bd-list .ma:hover{ border-top-color: #df2128; }
.sub-btn:hover{ background-color: #999; }
.cp-intro a:hover{ color: #df2128; }
.jb-list li:hover .line-box .line2,
.jb-list li:hover .line-box .line1{ width: 100%; } 
.jb-list li:hover .line-box .line3,
.jb-list li:hover .line-box .line4{ height: 100%; }
.campus-more a:hover{ background: #999; }
.cr-input a:hover{ background-color: #df2128; background-position: center bottom; }
.cr-list li + li:hover .t{ background: #f1d8b7; color: #333; }
.pager a:hover{ background: #df2128; color: #fff; }
.jb4 .cr-list li + li:hover .t{ background: #f5e2e2; color: #df2128; }
.pro-nav a:hover{ background: #fff; }
.pnav.pro-pnav a:hover{ background: #fff; color: #df2128; }
.pii-arrow .slick-arrow:hover{ background-color: #df2128; }
.ph-list .item a:hover .pic{ background: #f5f5f5; }
.ph-list .item a:hover .txts:before{ width: 100%; right: 0; }
.ph-list .item a:hover{ color: #df2128; }
.pro-map-img:hover{ -webkit-transform: translateY(-10px) scale(0.9); transform: translateY(-10px) scale(0.9); }
.phx-nav a:hover{ background: #df2128; color: #fff; }
.pmx-nav a:hover .pm-ti .ti,
.pmx-nav a:hover .pm-ti{ color: #df2128; }
.pro-intro .see-more .link:hover{ background: #999; border-color: #999; color: #fff; }
.oi-list .item a:hover{ background: #df2128; color: #fff; }
.oc-nav a:hover:after,
.oc-nav a:hover:before{ -webkit-transform: none; transform: none; opacity: 1; visibility: visible; }
.oc-nav a:hover{ color: #fff; }
.oc-nav a:hover .ico{ background-position: center bottom; }
.oc-list.jb-list a:hover .jb-ti{ color: #df2128; }
.oc-list.jb-list a:hover .oc-more span{ background-color: #df2128; color: #fff; border-color: #df2128; } 
.ix-ab a:hover .txts{ background: #df2128; }
.gp-list .ma:hover{ -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .2); box-shadow: 0 0 8px rgba(0, 0, 0, .2); }
.ph-nav a:hover{ color: #df2128; }
.cs-list a:hover .nowti{ color: #df2128; }
.ph-arrow .slick-arrow:hover{ background-color: #df2128; }
.ph-arrow .slick-prev:hover{ background-position: -46px 0px; }
.ph-arrow .slick-next:hover{ background-position: 0 -46px; }
.his-control .slick-prev:not(.slick-disabled):hover{ background-position: right top; }
.his-control .slick-next:not(.slick-disabled):hover{ background-position: left bottom; }
.his-control a:hover .dot:before{ -webkit-transform: none; transform: none; opacity: 1; visibility: visible; }
.hot-news a:hover .nw-dot:after,
.hot-news a:hover .nw-dot:before,
.hot-news a:hover .nw-dot{ background: #df2128; } 
.hot-news a:hover .ti{ color: #df2128; }
} /* 1153 */
@media screen and (min-width:1025px){
.pnav a.act:before{ width: 100%; left: 0; right: auto; }
.pnav a.act{ color: #df2128; }
.his-a:hover .his-more a{ width: 100%; opacity: 1; visibility: visible; }
.como-list .ma:hover{ background: #df2128; }
.como-list .ma:hover .ti{ color: #fff; }
.como-list .ma:hover .txts{ -webkit-transform: none; transform: none; opacity: 1; visibility: visible; }
} /* 1024 */ 
@media screen and (max-width:1800px){
.pro-banner .txts {top: 25%; }
} /* 1800 */
@media screen and (max-width:1600px){
.pbtxts {top: 32%; } 
} /* 1600 */
@media screen and (max-width:1440px){
.pw2{ width: 1200px; }
.header .pw2{ width: 100%; max-width: none; }
.logo{ margin-left: 3%; }
.header .r{ margin-right: 2%; }
.footer .f-cta{ margin-left: 0; float: right; }
.footer .f-cop{ float: none; padding-top: 15px; clear: both; text-align: left; }
.f-cop span {padding-left: 0; padding-right: 30px; }
.f-cop span:before{ left: auto; right: 0; }
.f-cop a{ margin: 0 25px 0 0; }
.f-cop .s{ margin: 0 0 0 25px; }
.f-cta .name{ float: right; border: none; border-left: 2px solid #c1c8cb; margin: 0 0 0 15px; padding: 0 0 0 10px; }
.name:before {right: auto; left: -6px; -webkit-transform: rotate(-180deg); transform: rotate(-180deg); }
.f-cta .b{ text-align: right; }
.footer .fb{ padding-bottom: 40px; }
.pro-banner .txts {top: 20%; }
.ix-pa {padding-left: 8%; padding-right: 8%; }
.in-tx .xtx {margin-top: 20px; }
.in-tx .date {margin-top: 35px; }
.ix-news .slick-dots {right: -45px; }
.ix-pro .pa {padding-left: 40px; padding-right: 40px; }
.ix-join .pa {padding: 55px 40px 0 40px; }
.ix-join .txts2{ padding-left: 40px; padding-right: 40px; }
} /* 1440 */
@media screen and (max-width:1366px){
.pw2,
.pw {width: 1000px; }
.ix-title-fix {margin-left: -500px; margin-top: 85px; width: 1000px; }
.ab-intro-list .pa { min-height: 200px; padding: 80px 0; }
.ab-intro-list li:first-child {padding-top: 85px; }
.ai-shows .num span {font-size: 50px; }
.ai-shows .name {font-size: 42px; }
.ai-shows .name,
.ai-shows .num {height: 50px; line-height: 50px; } 
.ai-shows .b {padding-top: 45px; }
.ai-nav dd + dd {margin-left: 15px; }
.nav {margin-left: 5%; }
.pbtxts {top: 28%; } 
.mtop,
.header{ height: 70px; }
.logo{ margin-top: 9px; }
.nav li > a {padding: 23px 18px; }
.header .r{ padding-top: 19px; }
.pnav a {padding: 15px 0; font-size: 15px; }
.pbtxts .en {font-size: 32px; }
.pbtxts .ch {font-size: 26px; }
.pbtxts .pb-aw {margin-top: 30px; }
.ix-title-fix.act {top: 70px; }
.f-ma {font-size: 12px; width: 102px; }
.leader-list {padding: 0; }
.leader-list .txts {padding: 35px 60px; }
.leader-list .en {right: 25px; }
.ab3 {padding-top: 80px; }
.ab-title .ch{ font-size: 38px; }
.his-box {padding: 0; }
.pro-banner .ch {font-size: 28px; }
.pro-banner .en{ font-size: 12px; }
.pro-banner .txts {top: 24%; width: 1000px; margin-left: -500px; }
.pro-intro .tx {margin-top: 35px; }
.pro-intro .see-more {margin-top: 55px; }
.pro-map .pm-cta,
.pro-map .ix-title {left: 0; }
.pro-map-img{ padding-bottom: 60px; }
.nd-fix.act {margin-left: -500px; top: 70px; }
.nd-fix .pa {padding: 80px 0 0 50px; }
.nd-r {padding: 80px 50px 100px 0; margin-left: 370px; }
.pm-box.nd-box .nd-r {margin-left: 290px; }
.pmx-nav a {height: 150px; }
.pmx-nav .pm-ti{ padding-top: 45px; }
.pro7{ padding-top: 130px; }
.pro7 .oi-list {margin-top: 95px; }
.jb-list .pa { padding: 30px 50px 0 50px; }
.oc-list.jb-list .pa {padding-top: 45px; }
.oc-list.jb-list .txts {height: 320px; }
.oc-list.jb-list .tx {margin-top: 25px; }
.oc-list.jb-list .oc-more {margin-top: 45px; }
.como-list .ma {margin-left: 25px; }
.como-list .txts,
.como-list .t {padding: 0 25px; }
.como-list .line {left: 25px; right: 25px; }
.como-list .tx {margin-top: 30px; }
.como-list {margin-left: -25px; }
.news-list a {margin: 9px 18px; }
.news-list .t{ padding-left: 25px; padding-right: 25px; }
.news-list .txts {left: 25px; right: 25px; }
.news-list .nw-dot {left: 32px; }
.snw-tx {padding: 45px 40px; }
.snw-video .video-box .pic{ height: 422px; }
.snw-video .video-box .pic img{ display: none; }
.jb1{ padding-top: 90px; }
.jb-list .txts {height: 350px; }
.jb-list .tx1 {padding-top: 15px; }
.cr-input select {width: 188px; }
.cr-input input {width: 264px; }
.cn-list .news-list {margin-left: 25px; }
.cn-list{ margin-left: -25px; }
.cn-list .slick-prev {left: -55px; }
.bd-cta,
.gh-cta {padding-left: 4.33%; padding-right: 4.33%; }
.ix-pa {padding-left: 5%; padding-right: 5%; }
.ix-news .pa {padding: 0 15px; }
.ix-news .slick-dots {right: -30px; }
.banner-ctt {margin-top: 70px; }
.bannertxts .ch {font-size: 50px; }
.banner-line,
.bannertxts,
.banner .slick-dots {bottom: 25%; }
.ix-pro .pa {padding-left: 30px; padding-right: 30px; }
.ix-join .pa {padding: 45px 30px 0 30px; }
.ix-join .txts2{ padding-left: 30px; padding-right: 30px; }
.nd-l .nd-back {margin-top: 70px; }
.pro-tour-box .txts {width: 365px; }
.pro-tour-box .txts .pa {top: 25%; padding: 0 40px; }
.pro-tour-box .pic {margin-right: 365px; }
.his-control {margin: 0; }
.his-control:before {left: 83px; right: 83px; }
.como-list.ph-arrow .slick-prev {left: -60px; }
.hot-news .t {padding-bottom: 30px; }
.hot-news .tx {height: 84px; margin-top: 20px; }
.hot-news .nw-dot{ margin-top: 85px; }
} /* 1366 */
@media screen and (max-width:1281px){
.h-link em,
.h-link .aico{ display: none; }
.h-link a{ width: 32px; }
.h-lang {margin-left: 5px; }
.nav li > a {padding: 23px 16px; }
.h-lang a + a {margin-left: 5px; }
.ph-arrow .slick-prev {left: -70px; }
.ph-arrow .slick-next {right: -70px; }
.oi-list.ph-arrow .slick-prev {left: -50px; }
.cn-list .slick-prev {left: -45px; }
.como-list.ph-arrow .slick-prev {left: -45px; }
} /* 1281 */
@media screen and (max-width:1153px){
.ph-arrow .slick-prev {left: 0; background-position: -46px 0px; }
.ph-arrow .slick-next {right: 0; background-position: 0 -46px; }
.ph-arrow .slick-arrow{ background-color: rgba(223, 33, 40, .7); border-radius: 0; }
.oi-list.ph-arrow .slick-prev {left: 20px; }
.cn-list .slick-prev {left: 25px; }
.como-list.ph-arrow .slick-prev {left: 25px; }
} /* 1153 */
@media screen and (max-width:1024px){
.vwrap .videobox { width: 700px; margin-left: -350px; }
.pw{ width: 90%; }
.fixbg{ background-attachment: scroll; }
.mcv,
.menu-handler{ display: block; }
.nav,
.header .r,
.fixctas{ display: none; }
.mtop, .header {height: 60px; }
.header .pw2{ position: static; }
.logo{ float: none; position: absolute; left: 5%; top: 50%; margin: -26px 0 0 0; -webkit-transform-origin: left center; transform-origin: left center; -webkit-transform: scale(0.8); transform: scale(0.8); }
.pnav{ position: relative; }
.pnav ul{ display: none; position: absolute; left: 0; right: 0; top: 100%; padding: 12px 0; z-index: 199; border-top: 1px solid #ccc; background: #fff; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .3); box-shadow: 0 0 8px rgba(0, 0, 0, .3);  }
.pnav li{ float: left; width: 50%; border: none; }
.pnav li:first-child{ border: none; }
.pnav a{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; padding: 12px 0; }
.pnav .mcv{ position: relative; z-index: 200; background: #fff; }
.ab-intro-list .pa:after,
.ab-intro-list .pa:before,
.ix-title-fix{ display: none; }
.ab-intro-list .pa{ min-height: 0; margin-left: 0; }
.pbtxts {top: 25%; }
.ai-nav dd + dd { margin-left: 0; }
.ai-nav dd{ margin: 0 15px 15px 0; }
.ai-tx-list {margin-top: 40px; }
.ab-intro-list .ix-title{ display: block; }
.f-cop span:before,
.footer .ft{ display: none; }
.footer .flinkmore{ float: none; margin: 0 0 40px 0; }
.footer .f-cta{ float: none; }
.f-cta .name{ float: left; border: none; border-right: 2px solid #c1c8cb; margin: 0 15px 0 0; padding: 0 10px 0 0; }
.name:before {left: auto; right: -6px; -webkit-transform: none; transform: none; }
.f-cta .b {text-align: left; }
.footer .f-cop{ padding-top: 40px; }
.footer .fb {padding: 40px 0 50px; }
.f-cop span{ padding: 0; }
.leader-list .ma {margin: 0 0 0 15px; }
.leader-list{ margin-left: -15px; }
.leader-list .txts {padding: 35px 30px; }
.leader-list .en{ display: none; }
.his-more a{ width: 100%; opacity: 1; visibility: visible; }
.aos-tx,
.aos-num {float: none; width: 100%; }
.aos-t{ height: auto; }
.aos-tx .pa, .aos-num .pa {padding: 50px 5%; }
.aos-tx{ background: none; }
.aos-tx .pa{ padding-top: 0; }
.aos-tx .aos-ti{ color: #333; }
.aos-num .aos-num-list,
.aos-tx .freeTx{ margin-top: 25px; }
.ab5 .video-box .pic img{ display: none; }
.ab5 .video-box .pic{ height: 260px; }
.ab-vi .txts {padding: 24px 5%; }
.ix-ab .txts {padding: 20px 5%; }
.ly-ctt{ padding-left: 5%; padding-right: 5%; }
.pbanner .pic2 > img{ -webkit-transform: none !important; transform: none !important; }
.tk-list .ma {padding: 35px 5%; height: 150px; }
.tk-list .pic {width: 100px; }
.tk-list .txts {padding-top: 5px; margin-left: 120px; }
.tk-btn a {width: 90px; }
.tk-list .tk-btn {margin-top: 40px; }
.pnav.pro-pnav ul,
.pro-nav .pw{ width: 100%; max-width: none; }
.pro-banner .pro-aw{ display: none; }
.pro-banner .txts{ width: 90%; left: 5%; margin-left: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.pnav.pro-pnav{ border-bottom: 1px solid #ccc; }
.pnav.pro-pnav a{ color: #666; }
.pmx-nav a.act:after,
.pmx-nav a:after,
.pm-box.nd-box:before,
.pro-banner .pic2 img{ display: none; }
.pro-banner .pic2{ height: 320px; }
.pro1 {padding: 80px 0; }
.pro-map .pm-cta{ position: relative; }
.nd-l{ float: none; width: 100%; }
.cog1 .nd-r {margin-left: 0; }
.nd-fix .pa {padding: 70px 5% 0 5%; }
.nd-r {padding: 45px 5% 80px 5%; margin-left: 0; }
.phx-nav li{ margin-bottom: 4px; }
.pm-box.nd-box .nd-r {margin-left: 0; }
.pm-box.nd-box .nd-fix,
.pm-box.nd-box .nd-l{ width: 100%; }
.pmx-nav{ overflow: hidden; letter-spacing: -6px; text-align: center; background: #f5f5f5; padding-bottom: 40px; }
.pmx-nav li{ display: inline-block; vertical-align: middle; letter-spacing: 0; border: none; background: #fff; text-align: left; }
.pmx-nav .pm-ti {padding: 48px 35px 0 35px; }
.pmx-nav a{ overflow: hidden; }
.oc-list.jb-list .txts {height: 248px; }
.oc-list.jb-list .pa {padding: 30px 5% 0 5%; }
.oc-list.jb-list .tx{ height: 56px; }
.oc-nav li{ margin-bottom: 7%; }
.pro8 .oc-list {margin-top: 25px; }
.como-list .pic{ display: none; }
.como-list .txts{ position: relative; -webkit-transform: none; transform: none; opacity: 1; visibility: visible; height: 320px; overflow: hidden; }
.como-list .t{ background: #df2128;  }
.como-list .ti{ color: #fff; }
.como-list .ma {margin-left: 15px; }
.como-list{ margin-left: -15px; }
.nw-date span,
.nw-date .d i{ display: inline; }
.nw-date{ width: auto; height: auto; border-radius: 0; border: none; text-align: left; }
.hot-news .nw-date,
.news-list .nw-date {float: none; }
.nw-date .y {margin-top: 0; }
.nw-date .d{ font-size: 12px; top: 0; position: relative; }
.hot-news .ti,
.news-list .ti{ margin-left: 0; }
.news-list .t {height: 100px; }
.news-list .tx {max-height: 72px; }
.snw-video .video-box .pic img,
.snw-video dd,
.snw-video{ display: block; }
.snw-video dd:first-child {width: 100%; }
.snw-video .video-box .pic{ height: auto; }
.snw-video .video-box {margin-left: 0; }
.snw-video dd{ width: 100%; }
.snw-video dd + dd{ margin-top: 35px; }
.snw-tx{ height: auto; padding-left: 5%; padding-right: 5%; }
.cta-title .ti{ max-width: 80%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.jb-list .txts{ height: auto; }
.jb-list .tx1 {height: 56px; }
.jb-list .pa{ padding-left: 5%; padding-right: 5%; }
.cr-input dd{ width: 32%; margin-right: 2%; }
.cr-input dd + dd {margin-left: 0; }
.cr-input dd:nth-child(3n){ margin-right: 0; }
.cr-input select{ width: 100%; background-origin: content-box; background-position: right center; }
.cr-input input{ width: 100%; -webkit-box-sizing: border-box; box-sizing: border-box;  }
.cr-input .search {float: left; width: 50%; position: relative; padding-right: 54px; -webkit-box-sizing: border-box; box-sizing: border-box; margin-top: 2%; }
.cr-input a{ float: none; position: absolute; top: 0; right: 0; }
.cr-list .ib{ display: block;white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.cr-list .cico{ display: none; }
.cr-list li + li .c1 i {margin-left: 0; }
.cr-list .t .c1{ padding-left: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; }
.campus-tx .freeTx,
.cr-list .freeTx {padding-left: 50px; padding-right: 50px; }
.cn-list .news-list {margin-left: 15px; }
.cn-list{ margin-left: -15px; }
.cn-list .slick-prev {left: 15px; }
.cog4{ padding-bottom: 90px; }
.gh-cta .ix-title {float: none; }
.gh-list {float: none; overflow: hidden; margin-top: 45px; }
.gh-list li:first-child {padding-left: 0; border-left: none; }
.gh-list li{ max-width: 50%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.cp-box,
.bd-cta, .gh-cta {padding-left: 5%; padding-right: 5%; }
.bd-cta .bd-list {margin-top: 45px; }
.cp-form textarea, .cp-form .s-input{ -webkit-box-sizing: border-box; box-sizing: border-box; }
.cp-form textarea{ width: 100%; }
.cp-form .cp1 .cp-c + .cp-c {margin-left: 15px; }
.banner-ctt {margin-top: 60px; }
.banner-fix,
.banner .pic2{ position: relative; }
.ix-main {margin-top: 0; }
.banner-line,
.banner-mouse{ display: none; }
.banner .slick-dots {bottom: 8%; }
.bannertxts{ bottom: auto; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.bannertxts .ch {font-size: 40px; }
.ix-main.pw2{ width: 100%; max-width: 100%; }
.ix-news-box,
.ix1 .ix-title {float: none; width: 100%; }
.ix-news .pa {margin-left: 30px; padding: 0; border-right: none; }
.ix-news{ margin-left: -30px; }
.ix-news-box{ margin-top: 40px; }
.in-tx .date {margin-top: 25px; }
.ix-news .slick-dots{ position: relative; top: 0; right: 0; margin-top: 30px; }
.ix-news .slick-dots li{ display: inline-block; margin: 0 6px; }
.ix2 {margin-top: 65px; }
.ix-pro .pic2 img{ display: block; }
.ix-pro .pic2{ height: auto; }
.ix-pro li{ float: none; width: 100%; display: none; }
.ix-pro li:nth-child(3) {width: 100%; }
.ix-pro .pa{ padding: 15% 5% 0 5%; }
.ix-pro .tx,
.ix-pro .en{ opacity: 1; visibility: visible; -webkit-transform: none; transform: none; }
.ix-pro .ch{ font-size: 24px; }
.ix-pro .ip-aw{ width: 100%; opacity: 1; visibility: visible; }
.ip-nav{ display: block; position: relative; background: #f5f5f5; padding: 0 5%; }
.ip-nav .nowti{ border-left: 1px solid #ccc; font-size: 20px; color: #333; padding: 0 10px; text-align: center; line-height: 68px; }
.ip-nav .slick-arrow{ position: absolute; top: 0; bottom: 0; z-index: 29; width: 5%; background: url('../images/ip_aw.png') no-repeat center center; }
.ip-nav .slick-prev{ left: 0; }
.ip-nav .slick-next{ right: 0; border-right: 1px solid #ccc; -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.ip-nav .item.act .nowti{ background: #df2128; color: #fff; }
.ix-join .tx{ font-size: 14px; line-height: 28px; max-height: 84px; }
.ix-join .pa{ padding-top: 35px; }
.ix-main{ padding: 70px 0 80px 0; }
.nd-box:before{ display: none; }
.nd-l .nd-back {margin-top: 30px; }
.nd-l .nd-back{ -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; overflow: hidden; }
.nd-l .nd-back a{ width: 33.33%; float: left; -webkit-box-sizing: border-box; box-sizing: border-box; }
.nd-l .nd-back a + a {border: none; border-left: 1px solid #ccc; }
.his-control:before {left: 40px; right: 40px; }
.como-list.ph-arrow .slick-prev {left: 15px; }
.ix-join .txts{ -webkit-transform: none; transform: none; opacity: 1; visibility: visible; background-position: 0 top; }
.hot-news .pic{ display: none; }
.hot-news .txts{ width: 100%; float: none; }
.hot-news .tx{ height: auto; max-height: 112px; }
.hot-news .ti{ height: auto; max-height: 48px; }
.hot-news .nw-dot {margin-top: 55px; }
.hot-news .pa{ padding: 0 5% 45px 5%; }
} /* 1024 */
@media screen and (max-width:861px){
.vwrap .videobox { width: 100%; left: 0; margin-left: 0; }
.pbanner .pb-aw{ display: none; }
.pbtxts{ top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.ai-shows .num span {font-size: 40px; }
.ai-shows .name, .ai-shows .num {height: 45px; line-height: 45px; }
.ai-shows .ma {height: 150px; }
.ai-shows .num{ font-size: 14px; }
.ai-shows .name {font-size: 34px; }
.ai-shows .b {padding-top: 40px; }
.ab-intro-list .pa {padding: 70px 0; } 
.ab-intro-list li:first-child {padding-top: 75px; }
.ai-nav dd {width: 96px; height: 96px; border: 1px solid #df2128; } 
.ai-nav .ico{ background-size: 96px; }
.ai-nav dd:after {bottom: -7px; }
.ai-nav dd {margin: 0 10px 15px 0; }
.f-cop .s{ display: block; margin-left: 0; }
.ab-charac dd + dd .ma:before,
.his-list:before,
.his-a:after,
.his-a:before,
.his-dot{ display: none; }
.ab9{ padding-top: 65px; }
.ab-house dd,
.ab-charac dd {float: none; width: 100%; }
.ab-charac .ma,
.ab-charac {margin-left: 0; }
.ab-charac dd + dd{ margin-top: 55px; }
.nw2, .ab3, .cog3, .cog4, .pro12, .pro11, .pro10, .pro2, .pro4, .ab8, .ab7, .ab5, .ab6, .ab4 {padding: 70px 0 80px 0; }
.ab5 .video-box .pic img{ display: block; }
.ab5 .video-box .pic{ height: auto; }
.ab-house,
.ab-house .ix-ab a{ margin-left: 0; } 
.ab-house dd + dd{ margin-top: 55px; }
.ab6 .ab-house {margin-top: 25px; }
.ly-main .ly-close{ display: none; } 
.m-ly-close{ display: block; position: fixed; z-index: 99; right: 10px; top: auto; bottom: 10px; border-radius: 100%; background: rgba(223, 33, 40, .7); -webkit-transform: translateX(-20px); transform: translateX(-20px); opacity: 0; visibility: hidden; }
.ly-box.show .m-ly-close{ -webkit-transform: none; transform: none; opacity: 1; visibility: visible; -webkit-transition: 600ms 600ms; transition: 600ms 600ms; }
.tk-list li{ width: 100%; float: none; }
.tk-list,
.tk-list .ma{ margin-left: 0; }
.tk-list .pic {width: 140px; }
.tk-list .ma {height: 200px; }
.tk-list .txts {padding-top: 10px; margin-left: 180px; }
.tk-btn a {width: 106px;}
.tk-list .tk-btn {margin-top: 65px; }
.tk-list li{ margin-bottom: 0; }
.tk-list li + li{ margin-top: 20px; }
.station-list li{ width: 50%; }
.pro-nav a {height: 180px; }
.pro-nav .ico { margin-top: 40px; }
.pro-banner .pic2 {height: 300px; }
.pro-model-list .pm-ti,
.pro-intro .pi-img-list,
.pro-intro .txts{ float: none; width: 100%; }
.pro-intro .pi-img-list{ margin-top: 65px; }
.pro1{ padding-top: 65px; }
.pro-intro .tx{ max-height: 140px; height: auto; }
.pro-model-list .rel:after{ display: none; }
.pro-model-list .txts{ border: none; margin-left: 0; padding: 55px 0 80px 0; }
.pm-ti .pa {padding-right: 0; }
.pro-model-list .rel {padding-left: 0; }
.pro-model-list .pm-ti{ padding-top: 70px; }
.pro-map .ix-title{ position: relative; margin-bottom: 25px; }
.phx-list li{ width: 33.33%; }
.pro5{ padding-top: 70px; }
.pro5 .phx-list {margin-top: 50px; }
.pm-box.nd-box .nd-r {padding-top: 70px; }
.oi-list .item a {margin-left: 10px; }
.oi-list{ margin-left: -10px; }
.oi-list.ph-arrow .slick-prev {left: 10px; }
.pro7 .clearfix .ix-title{ float: none; }
.oi-num {float: none; margin-left: 0; margin-top: 45px; }
.pro7 .oi-list {margin-top: 45px; }
.oi-num .tx2 {font-size: 32px; }
.oi-num .ff-2 {font-size: 42px; }
.pro7 {padding-top: 90px; }
.oc-nav li{ width: 135px; }
.oc-nav a{ height: 135px; }
.oc-nav .rel {padding-top: 25px; }
.oc-nav a:after {top: -8px; bottom: -8px; left: -8px; right: -8px; }
.pro8{ padding-top: 75px; }
.pro8 .oc-list {margin-top: 15px; }
.jb-list .pic{ display: none; }
.oc-list.jb-list .txts{ height: auto; }
.jb-list .txts, .jb-list .pic {float: none; width: 100%; }
.jb-list .pa,
.oc-list.jb-list .pa{ padding-bottom: 40px; }
.oc-list.jb-list .tx{ height: auto; max-height: 84px; }
.cog-nw-list{ margin-left: -10px; }
.cog-nw-list a {margin-left: 10px; }
.cog-nw-list li {margin-bottom: 20px; }
.gp-list li {width: 25%; margin-bottom: 10px; }
.gp-list .ma {margin-left: 10px; }
.gp-list{ margin-left: -10px; }
.news-list li {width: 50%; }
.cta2,
.jb1 {padding-top: 70px; }
.jb-list .tx1 {height: 112px; }
.campus-tx .freeTx, .cr-list .freeTx {padding-left: 35px; padding-right: 35px; }
.campus-tx .freeTx{ padding-top: 45px; padding-bottom: 60px; }
.cr-input select {padding: 0 15px; }
.cr-list .t .c1 {padding-left: 35px; }
.campus-tx .campus-more {bottom: 10%; }
.cog4 .clearfix .ix-title {float: none;  }
.cs-list {float: none; width: 100%; }
.cog4 .cs-list{ margin-top: 40px; }
.gh-list li{ max-width: none; float: none; border: none; padding: 0; }
.gh-list a + a {margin-top: 30px; }
.gh-list li + li{ margin-top: 30px; }
.bd-list .t {padding: 30px 5% 0 5%; }
.bd-list .ma {margin-left: 15px; }
.bd-list{ margin-left: -15px; }
.bd-list li {margin-bottom: 15px; }
.bannertxts .ch {font-size: 30px; margin-top: 15px; }
.bannertxts .en {margin-top: 10px; font-size: 16px; }
.ix-news .pa {margin-left: 20px; }
.ix-news{ margin-left: -20px; }
.ix-pro .pa{ padding-top: 10%; }
.ia-box > div{ display: block; }
.ia-box .ix-join,
.ia-box .ix-ab{ width: 100%; }
.ia-box .ix-join{ margin-top: 40px; }
.ix-join .pa {padding: 55px 5% 75px 5%; }
.ix-join .txts2{ padding-left: 5%; padding-right: 5%; }
.ix-join .tx{ max-height: none; }
.ix3 {padding-top: 70px; }
.ix3 .ix-ab a {margin-right: 0; }
.his-list .item{ float: none; width: 100%; }
.his-list .item1 .his-a {margin-left: 0; }
.his-list .item2 .his-a {margin-right: 0; }
.his-list .item2 {margin-top: 0; }
.his-a{ padding-left: 5%; padding-right: 5%; }
.his-list .item + .item{ margin-top: 40px; }
.his-list{ padding: 0; }
.pro-tour-box .pic{ height: auto; margin-right: 0; }
.pro-tour-box .pic img{ position: static; max-width: none; max-height: none; width: 100%; }
.pro-tour-box .txts{ position: static; width: 100%; height: auto; }
.pro-tour-box .txts .pa {top: 0; padding: 45px 5% 120px 5%; }
.pro-tour-box .pt-back{ position: static; border-bottom: 1px solid #666; }
.pro-tour-box{ height: auto; }
.ly-pt-box{ overflow-y: auto; background: #e6e6e6; }
.his-control{ display: none; }
.ix-join .txts{ position: relative; }
.ix-join .picbox{ display: none; }
.in-tx img{ display: block; width: 100%; }
.in-tx{ position: relative; }
.in-tx .txts{ position: absolute; left: 0; right: 0; top: 0; padding: 30px 5% 0 5%; }
} /* 861 */
@media screen and (max-width:641px){
.vwrap .videobox { height: 350px; margin-top: -175px; }
.pbanner .pic2 img{ display: none; }
.pro-banner .pic2,
.pbanner .pic2{ height: 274px; }
.ab-intro-list li:first-child {padding-top: 65px; }
.leader-list li{ width: 100%; float: none; }
.leader-list .ma,
.leader-list{ margin-left: 0; }
.leader-list li + li{ margin-top: 35px; }
.leader-list .txts {padding: 35px 5%; min-height: 0; }
.aos-num-list .num span {font-size: 42px; }
.aos-tx .freeTx{ font-size: 16px; }
.ab5, .ab6, .ab4 {padding: 65px 0 70px 0; }
.station-list .txts {height: 50px; }
.station-list .nowti {margin-top: 13px; }
.pro-nav .ico{ height: 50px; background-size: 50px; margin-top: 35px; }
.pro-nav .nowti {font-size: 14px; }
.pro-nav a {height: 150px; }
.pm-ti .ti {font-size: 32px; }
.pm-ti .ti .n {font-size: 42px; }
.pro-model-list .txts{ padding-top: 45px; }
.oi-num .tx2 {font-size: 28px; }
.oi-num .ff-2 {font-size: 38px; }
.jb-list .pic{ display: block; }
.cog-nw-list li{ width: 50%; }
.como-list .txts, .como-list .t {padding: 0 5%; }
.pro11 .como-list {margin-top: 45px; }
.rp-list > p{ float: none; clear: both; margin-bottom: 10px; }
.rp-list a { margin-left: 0; margin-right: 10px; }
.bd-list li{ float: none; width: 100%; margin-bottom: 0; }
.bd-list li + li{ margin-top: 20px; }
.bd-list .t{ height: auto; padding-bottom: 35px; }
.bd-list,
.bd-list .ma{ margin-left: 0; }
.cp-form .cp1 .cp-c { width: 49%; margin-right: 2%; -webkit-box-sizing: border-box; box-sizing: border-box; }
.cp-form .cp1 .cp-c + .cp-c {margin-left: 0; }
.cp-form .cp1 .cp-c:nth-child(2){ margin-right: 0; }
.cp-form .s-input{ width: 100%; }
.cp-form .cp3 .clearfix{ -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; padding-right: 111px; }
.cp-form .vimg{ position: absolute; right: 0; top: 0; }
.banner .pic2 img{ display: none; }
.banner .pic2 .mbj{ display: block; }
.ix-news .pa {margin-left: 15px; }
.ix-news{ margin-left: -15px; }
.ix-pro .ip-aw{ display: none; }
.nd-l .nd-back a{ padding-left: 15px; }
.ix-join .picbox{ display: block; }
} /* 641 */
@media screen and (max-width:601px){
.ai-shows .ma {margin-left: 4px; height: 130px; }
.ai-shows dd {margin-bottom: 4px; }
.ai-shows{ margin-left: -4px; }
.ai-shows .num span {font-size: 30px; }
.ai-shows .name, .ai-shows .num {height: 35px; line-height: 35px; }
.ai-shows .b {padding-top: 35px; }
.ai-shows .name {font-size: 28px; }
.pro-banner .pic2,
.pbanner .pic2 {height: 258px; }
.aos-num-list .num span {font-size: 32px; }
.aos-num-list li + li {padding-left: 30px; margin-left: 30px; }
.tk-list .ma {height: 150px; }
.tk-list .pic {width: 100px; }
.tk-list .txts {padding-top: 5px; margin-left: 120px; }
.tk-btn a {width: 90px; }
.tk-list .tk-btn {margin-top: 40px; }
.station-list .video-box {margin-left: 10px; }
.station-list{ margin-left: -10px; }
.station-list li{ margin-bottom: 15px; }
.pm-cta dd{ float: none; }
.pm-cta dd + dd {margin-left: 0; margin-top: 35px; }
.pro-banner .ch {font-size: 24px; }
.ph-nav{ position: relative; left: 0; bottom: 0; margin-top: 30px; text-align: left; }
.phx-nav{ overflow: hidden; margin-left: -1%; }
.phx-nav li{ float: left; width: 32.33%; margin: 0 0 1% 1%; }
.phx-nav a{ width: 100%; }
.phx-list a {margin-left: 10px; }
.phx-list{ margin-left: -10px; }
.phx-list li{ margin-bottom: 20px; }
.oc-nav li {width: 115px; margin: 0 2.5% 5% 2.5% }
.oc-nav a {height: 115px; }
.oc-nav .ico{ height: 40px; background-size: 53px; }
.pro8 .oc-list {margin-top: 25px; }
.gp-list li{ width: 33.33%; }
.news-list li {width: 100%; }
.cta-title .ti {font-size: 20px; }
.campus-tx .station-more a {font-size: 14px; width: 120px; height: 38px; line-height: 38px; }
.campus-tx .campus-more {bottom: 6%; }
.cn-list,
.cn-list .news-list {margin-left: 0; }
.cn-list .slick-prev {left: 0; }
.bannertxts .ch {font-size: 24px; }
.in-tx .ti{ height: auto; white-space: nowrap; text-overflow: ellipsis; overflow: hidden;  }
.ix-pro .tx {margin-top: 40px;}
.ix-pro .ico{ -webkit-transform-origin: left bottom; transform-origin: left bottom; -webkit-transform: scale(0.8); transform: scale(0.8); }
.ix-pro .pa {padding-top: 8%; }
.ia-tx .ix-title{ float: none; max-width: none; }
.ia-tx .freeTx{ float: none; width: 100%; margin-top: 30px; }
.ix3 .ia-box {margin-top: 40px; }
.como-list,
.como-list .ma{ margin-left: 0; }
.como-list.ph-arrow .slick-prev {left: 0; }
.ix-title{ text-align: center; }
.ix-title .it-aw{ display: none; }
} /* 601 */
@media screen and (max-width:481px){
.vwrap .videobox { height: 300px; margin-top: -150px; }
.pro-banner .pic2,
.pbanner .pic2 {height: 220px; }
.pbtxts .ch {font-size: 20px; }
.pbtxts .en {font-size: 24px; }
.ai-shows dd{ width: 50%; }
.ai-shows .b{ display: block; padding-left: 20px; }
.ab-intro-list li:first-child {padding-top: 55px; }
.ab-intro-list .ix-title {margin-bottom: 40px; }
.ab-intro-list .pa {padding: 50px 0 60px; }
.ai-tx-list {margin-top: 35px; }
.ab9,
.ab2 {padding: 45px 0 55px 0; }
.leader-list .name {font-size: 24px; }
.aos-num-list .num span {font-size: 24px; }
.aos-num-list li + li {padding-left: 18px; margin-left: 18px; }
.aos-tx .freeTx {font-size: 14px; margin-top: 20px; }
.aos-ti{ font-size: 20px; }
.aos-b {padding: 50px 5% 60px 5%; }
.pro9, .nw2, .ab3, .ix-main, .cta1, .cog4, .cog3, .jb2, .jb1, .nw3, .nw4, .nw1, .pro12, .pro11, .pro10, .pro8, .pro4, .pro2, .pro1, .ab8, .ab7, .ab5, .ab6, .ab4 {padding: 45px 0 55px 0; }
.ab-house dd + dd,
.ab-charac dd + dd {margin-top: 20px; }
.ia-ti .it-aw{ display: none; }
.ia-ti{ display: block; padding: 0;white-space: nowrap; text-overflow: ellipsis; overflow: hidden;  }
.ly-ab-ti {padding-bottom: 15px; margin-bottom: 25px; font-size: 20px; }
.ly-ctt{ padding-bottom: 100px; }
.tk-list .pic,
.ab-npp .pic {width: 90px; }
.tk-list .txts,
.ab-npp .txts {padding-top: 0; margin-left: 105px; }
.tk-list .txts{ padding-top: 5px; }
.tk-list .name,
.ab-npp .name {font-size: 16px; }
.tk-list .g, .ab-npp .g {font-size: 12px; margin-top: 3px; }
.see-btn a + a {padding-left: 10px; margin-left: 10px; }
.ab-npp .see-more a{ font-size: 12px; width: 90px; height: 30px; line-height: 30px; }
.ab-npp .see-more {margin-top: 15px; }
.ab-npp .see-btn {margin-top: 18px; }
.ab-npp{ padding: 30px 5%; height: 125px; }
.ab8 .station-list,
.ab7 .tk-list {margin-top: 35px; }
.tk-btn a{ font-size: 12px; border-width: 1px; width: 80px; height: 28px; line-height: 28px; }
.tk-btn a + a {margin-left: 2px; }
.tk-list .ma{ padding-top: 25px; padding-bottom: 25px; }
.container {min-height: 300px; }
.menuBox {width: 260px; right: -260px; }
.navMobile dd > p > a {font-size: 16px; }
.mtnav a{ font-size: 14px; }
.navMobile a,
.mlangs{ padding-left: 30px; }
.station-list li{ width: 100%; float: none; }
.station-list,
.station-list .video-box{ margin-left: 0; }
.pro-nav .ico {height: 40px; background-size: 40px; margin-top: 28px; }
.pro-nav .nowti {font-size: 13px; }
.pro-nav a {height: 120px; }
.pro-nav .bico{ margin-top: 12px; }
.pro-banner .ch {font-size: 16px; }
.pro-intro .pi-img-list {margin-top: 45px; }
.ph-arrow .slick-prev,
.pii-arrow .slick-prev{ -webkit-transform-origin: left center; transform-origin: left center; }
.ph-arrow .slick-next,
.pii-arrow .slick-next{ -webkit-transform-origin: right center; transform-origin: right center; }
.ph-arrow .slick-arrow,
.pii-arrow .slick-arrow{ -webkit-transform: scale(0.7); transform: scale(0.7); }
.ph-list .txts {height: 54px; }
.ph-list .nowti{ margin-top: 15px; }
.pro-model-list .name {font-size: 18px; }
.pm-ti .ti {font-size: 24px; }
.pm-ti .ti .n {font-size: 32px; }
.pm-ti .txx {font-size: 16px; }
.pro-model-list .txts {padding: 35px 0 60px 0; }
.pro-model-list .pm-ti{ padding-top: 50px; }
.pm-cta a + a {margin-top: 0; }
.pm-cta dd + dd {margin-top: 25px; }
.pro-map-img {padding-bottom: 40px; }
.cog1 {padding: 40px 0 45px 0; }
.nd-fix .pa{ padding-top: 45px; }
.nd-r {padding: 35px 5% 60px 5%; }
.cog2,
.pro5 {padding-top: 50px; }
.phx-list li{ width: 50%; }
.pro5 .phx-list {margin-top: 40px; }
.pager .arrow{ display: none; }
.pmx-nav li{ width: 50%; }
.pmx-nav .pm-ti {padding: 28px 15px 0 15px; }
.pmx-nav .pm-ti .ti { font-size: 20px; }
.pmx-nav .pm-ti .ti .n {font-size: 26px; }
.pmx-nav a {height: 100px; }
.pm-box.nd-box .nd-r {padding-top: 45px; }
.pm-box.nd-box .nd-r .ti {font-size: 20px;  }
.pm-box.nd-box .nd-r .txx {margin-top: 3px; font-size: 14px; }
.pro6{ padding-bottom: 60px; }
.oi-num .tx2 {font-size: 22px; margin-top: 5px; }
.oi-num .ff-2 {font-size: 32px; }
.pro7 {padding: 60px 0 70px 0; }
.oi-list,
.oi-list .item a {margin-left: 0; }
.oi-list.ph-arrow .slick-prev {left: 0; }
.oc-nav li {width: 85px; }
.oc-nav a{ height: 85px; }
.oc-nav .ico{ height: 30px; background-size: 40px; }
.oc-nav .nowti {margin-top: 0; font-size: 12px; }
.oc-nav .rel {padding-top: 18px; }
.oc-nav a:after {border-width: 1px; top: -5px; bottom: -5px; left: -5px; right: -5px; }
.pro8 .pager {margin-top: 55px; }
.pro10 .ab-house {margin-top: 35px; }
.cog-nw-list li{ width: 100%; float: left; }
.cog-nw-list,
.cog-nw-list a {margin-left: 0; }
.gp-list li {width: 50%; }
.pro11 .como-list {margin-top: 35px; }
.news-list a {margin: 0; }
.news-list .bodr,
.news-list {border: none; }
.news-list li + li{ margin-top: 25px; }
.news-list .tx {max-height: 96px; }
.cta-title .ti {font-size: 16px; padding: 15px 20px; }
.campus-tx .freeTx, .cr-list .freeTx {padding-left: 15px; padding-right: 15px; }
.campus-tx .ti {margin-bottom: 15px; font-size: 18px; }
.campus-tx .freeTx {padding-top: 35px; padding-bottom: 50px; }
.cr-input dd {width: 49%; margin-bottom: 2%; }
.cr-input dd:nth-child(3n){ margin-right: 2%; }
.cr-input dd:nth-child(2n){ margin-right: 0; }
.cr-input .search{ margin-top: 0; width: 100%; }
.cr-input dd:nth-child(3){ width: 100%;  }
.cr-input select {padding: 0 10px; }
.jb3 .campus-recruit {margin-top: 35px; padding-bottom: 60px; }
.cr-list .c2{ display: none; }
.cr-list .t > span{ width: 33.333%; text-align: left; }
.cr-list .t .c1 {padding-left: 15px; }
.cr-list .campus-more {margin-top: 45px; }
.cr-list .freeTx{ padding-top: 25px; padding-bottom: 55px; }
.jb4{padding-top: 50px; }
.cs-list .nowti {font-size: 14px; line-height: 54px; }
.cog-nw-list .txts {height: 54px; }
.cog-nw-list .nowti {margin-top: 17px; }
.bd-cta,
.gh-cta{ padding-top: 40px; padding-bottom: 50px; }
#map {height: 320px; }
.cp-form .vimg {margin-left: 4px; }
.cp-form .cp3 .clearfix {padding-right: 100px; }
.ix3,
.cta2{ padding-top: 50px; }
.cp-box{ padding-bottom: 60px; }
.bannertxts .en{ display: none; }
.ix-news,
.ix-news .pa {margin-left: 0; }
.in-img .txts{ padding-left: 5%; padding-right: 5%; }
.in-tx .ti{ color: #333; font-size: 17px; }
.in-tx .xtx {margin-top: 30px; }
.in-tx .date {margin-top: 45px; }
.ix-main{ padding-top: 40px; }
.ix2 {margin-top: 45px; }
.ip-nav .nowti {font-size: 15px; line-height: 50px; }
.ix-pro .tx{ display: none; }
.ix-pro .ch {font-size: 18px; }
.ix-pro .en {margin-top: 5px;}
.ia-box .ix-join {margin-top: 20px; }
.nd-l .nd-back a{ padding-left: 10px; padding-right: 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.his-list .item + .item {margin-top: 20px; }
.pro9 .pi-img-list {margin-bottom: 35px; }
.ix-join .pa{ padding-top: 35px; padding-bottom: 45px; }
.nw1 .hot-news { margin-bottom: 25px; }
.hot-news .pic{ display: block; width: 100%; float: none; }
.bannertxts .ch {font-size: 20px; margin-top: 5px; }
.bannertxts .img img{ -webkit-transform: scale(0.7); transform: scale(0.7); }
.in-tx .xtx {margin-top: 10px; }
.ix-news-box {margin-top: 25px; }
.slick-dots li {width: 9px; height: 9px; margin: 0 4px; }
.ix-news .slick-dots {margin-top: 20px; }
.ix-pro .ico {-webkit-transform: scale(0.7);transform: scale(0.7); }
.ix-pro .txts{ top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }
.ix-pro .pa{ padding-top: 0; }
.ia-ti{ font-size: 16px; height: auto; }
.ix-ab .txts{ padding-top: 12px; padding-bottom: 12px; }
.ix-join .ia-more {margin-top: 55px; }
.ai-tx-list .ti{ font-size: 20px; }
.ab-title .en{ font-size: 12px; }
.ab-title .ch {font-size: 28px; }
.his-a .date {width: 80px; font-size: 28px; }
.his-more {margin-left: 80px; }
.ab3 .his-box {margin-top: 30px; }
.ab-vi .txts{ padding-top: 15px; padding-bottom: 15px; }
.video-box .bico{ -webkit-transform: scale(0.8); transform: scale(0.8); }
.ab-house .ia-ti .nowti {font-size: 16px; }
.pro-intro .see-more{ text-align: center; margin-top: 45px; }
.pro-intro .tx{ max-height: none; }
.pro-intro .see-more .link {margin-left: 5px; width: 106px; }
.pro-intro .see-more a{ width: 110px; font-size: 12px; }
.pm-cta .n{ font-size: 22px; }
.pm-box.nd-box .nd-r .t {padding-bottom: 25px; margin-bottom: 25px; }
.jb-list .jb-ti{ font-size: 18px; }
.oc-list.jb-list .tx {margin-top: 15px; }
.oc-list.jb-list .oc-more {margin-top: 35px; }
.oc-list.jb-list .oc-more span{ width: 106px; height: 32px; line-height: 32px; }
.oc-list.jb-list .pa{ padding-top: 25px; }
.hot-news .t {padding-bottom: 25px; }
.station-more a {width: 150px; height: 42px; line-height: 42px; }
.snw-tx .tx {margin-top: 25px; padding-top: 25px; }
.snw-video dd + dd {margin-top: 15px; }
.nw3{ padding-bottom: 45px; }
.jb-ti .ico{-webkit-transform-origin: left center;transform-origin: left center; -webkit-transform: scale(0.75); transform: scale(0.75); margin-right: 0; }
.jb-list .pa{ padding-top: 20px; }
.jb4, .jb3 {padding-top: 45px; }
.cr-list .campus-more a {width: 125px; height: 40px; line-height: 40px; font-size: 14px; }
.cog3 .clearfix .ix-title{ float: none; }
.cog3 .clearfix .ia-more{ display: none; }
.cs-list .slick-arrow {margin-top: -50px; }
.ab-more.no{ display: block; }
.cog3 .ab-more{ text-align: center; margin-top: 50px; }
.gh-list .dico{ -webkit-transform: scale(0.8); transform: scale(0.8); }
.gh-list .txx {margin-left: 65px; }
.gh-list li + li,
.gh-list a + a {margin-top: 20px; }
.bd-list .name {font-size: 18px; }
.bd-cta .bd-list {margin-top: 30px; }
.ix-join .num span{ font-size: 38px; }
.ix-join .ti {margin-top: 25px; font-size: 18px; }


} /* 481 */
@media screen and (max-width:361px){} /* 361 */
@media screen and (max-width:321px){
.vwrap .videobox { height: 260px; margin-top: -130px; }
} /* 321 */
