@media screen and (min-width:1153px){
/* animation */
.scapic:hover img{ transform:scale(1.1); -webkit-transform:scale(1.1); }
.scale-img img{ transform: scale(1.1); transition: 5s; }
.active .scale-img img{ transform: none; }
.transY{ transform: translateY(60px); opacity: 0; visibility: hidden; }
.transYF{ transform: translateY(-60px); opacity: 0; visibility: hidden; }
.transX{ transform: translateX(60px); opacity: 0; visibility: hidden; }
.transXF{ transform: translateX(-60px); opacity: 0; visibility: hidden; }
.active .transY,
.active .transYF,
.active .transX,
.active .transXF{ transform: translate(0); opacity: 1; visibility: visible; }
.trans{ transition: 700ms ease-out; }
.dly-1{ transition-delay: 100ms; }
.dly-2{ transition-delay: 200ms; }
.dly-3{ transition-delay: 300ms; }
.dly-4{ transition-delay: 400ms; }
.dly-5{ transition-delay: 500ms; }
.dly-6{ transition-delay: 600ms; }
.dly-7{ transition-delay: 700ms; }
.dly-8{ transition-delay: 800ms; }
.active .am-lsi { animation: lightSpeedIn 800ms both; }
.active .am-fiu { animation: fadeInUp 800ms both; }
.active .am-fid { animation: fadeInDown 800ms both; }
.active .am-fir { animation: fadeInRight 800ms both; }
.active .am-fil { animation: fadeInLeft 800ms both; }
.active .am-rvv{ position: relative; /* display: inline-block; vertical-align: bottom; */ /* 文字加上 */ }
.active .am-rvv:before{ content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000; transform: scaleY(0); transform-origin: 0% 0% 0px; animation: reveal-v 2s 200ms cubic-bezier(0, 0, 0.2, 1) both; }
.active .am-rvl{ position: relative; /* display: inline-block; vertical-align: bottom; */ /* 文字加上 */ }
.active .am-rvl:before{ content: ""; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #000; transform: scaleX(0); transform-origin: 0% 0% 0px; animation: reveal-l 2s 200ms cubic-bezier(0, 0, 0.2, 1) both; }
.active .am-delay-1 { animation-delay: 100ms; }
.active .am-delay-2 { animation-delay: 200ms; }
.active .am-delay-3 { animation-delay: 300ms; }
.active .am-delay-4 { animation-delay: 400ms; }
.active .am-delay-5 { animation-delay: 500ms; }
.active .am-delay-6 { animation-delay: 600ms; }
.active .am-delay-7 { animation-delay: 700ms; }
.active .am-delay-8 { animation-delay: 800ms; }
.active .am-delay-9 { animation-delay: 900ms; }
.active .am-delay-10 { animation-delay: 1000ms; }
.active .am-delay-11 { animation-delay: 1100ms; }
.active .am-delay-12 { animation-delay: 1200ms; }
/* animation end */
.nav li > a:hover{ background: #df2128; color: #fff; }
.h-link a:hover{ background: #df2128; }
.h-link a:hover i{ color: #fff; }
.h-link a:hover .aico{ background-position: -185px -60px; }
.h-lang a:hover{ background: #df2128; color: #fff; }
.tnav > a:hover{ background: #df2128; color: #fff; }
.video-box:hover .bico{ transform: scale(0.9); }
.in-tx:hover .ti{ color: #df2128; }
.ia-more a:hover{ background: #fff; color: #df2128; }
.footer a:hover{ color: #df2128; }
.pnav a:hover:before{ width: 100%; left: 0; right: auto; }
.pnav a:hover{ color: #df2128; }
.ai-nav dd:hover:before{ transform: none; opacity: 1; visibility: visible; }
.ai-nav dd:hover .ico{ background-position: center bottom; }
.ia-more.ab-more a:hover{ border-color: #df2128; background-color: #df2128; color: #fff; }
.leader-list .ma:hover{ box-shadow: 0 0 15px rgba(0, 0, 0, .2); }
.his-more p:hover{ background: #df2128; border-color: #df2128; color: #fff; }
.ab-vi a:hover{ color: #df2128; }
.see-more a:hover{ background: #999; }
.see-btn a:hover{ color: #999; }
.tk-btn a:hover{ border-color: #df2128; color: #df2128; }
.ly-close:hover .aico{ transform: rotate(180deg); }
.station-list .video-box:hover{ background: #df2128; }
.station-list .video-box:hover .txts{ border-color: #df2128; color: #fff; }
.station-list .video-box:hover .picbox:after{ border-color: #df2128; } 
.station-more a:hover{ background: #df2128; }
.news-list a:hover{ box-shadow: 0 0 20px rgba(0, 0, 0, .2); }
.news-list a:hover .t{ background: #df2128; }
.news-list a:hover .nw-date{ border-color: #fff; color: #fff; }
.news-list a:hover .ti{ color: #fff; }
.news-list a:hover .nw-dot,
.news-list a:hover .nw-dot:after,
.news-list a:hover .nw-dot:before{ background: #df2128; } 
.news-list a:hover .pic img{ transform:scale(1.1); -webkit-transform:scale(1.1); }
.nd-back a:hover{ background: #df2128; color: #fff; }
.share a:hover{ background-position: center bottom; }
.gh-list a:hover{ color: #df2128; }
.gh-list a:hover .dico{ background-color: #df2128; }
.gh-list .c1:hover .dico{ background-position: 0px -58px; }
.gh-list .c2:hover .dico{ background-position: -58px -58px; }
.gh-list .c3:hover .dico{ background-position: -116px -58px; }
.gh-list .c4:hover .dico{ background-position: -174px -58px; }
.bd-btn a:hover{ background-color: #df2128; }
.bd-btn a:hover i{ color: #fff; }
.bd-btn .b1:hover .dico{ background-position: 0px -116px; } 
.bd-btn .b2:hover .dico{ background-position: -50px -116px; } 
.bd-list .ma:hover{ border-top-color: #df2128; }
.sub-btn:hover{ background-color: #999; }
.cp-intro a:hover{ color: #df2128; }
.jb-list li:hover .line-box .line2,
.jb-list li:hover .line-box .line1{ width: 100%; } 
.jb-list li:hover .line-box .line3,
.jb-list li:hover .line-box .line4{ height: 100%; }
.campus-more a:hover{ background: #999; }
.cr-input a:hover{ background-color: #df2128; background-position: center bottom; }
.cr-list li + li:hover .t{ background: #f1d8b7; color: #333; }
.pager a:hover{ background: #df2128; color: #fff; }
.jb4 .cr-list li + li:hover .t{ background: #f5e2e2; color: #df2128; }
.pro-nav a:hover{ background: #fff; }
.pnav.pro-pnav a:hover{ background: #fff; color: #df2128; }
.pii-arrow .slick-arrow:hover{ background-color: #df2128; }
.ph-list .item a:hover .pic{ background: #f5f5f5; }
.ph-list .item a:hover .txts:before{ width: 100%; right: 0; }
.ph-list .item a:hover{ color: #df2128; }
.pro-map-img:hover{ transform: translateY(-10px) scale(0.99); }
.phx-nav a:hover{ background: #df2128; color: #fff; }
.pmx-nav a:hover .pm-ti .ti,
.pmx-nav a:hover .pm-ti{ color: #df2128; }
.pro-intro .see-more .link:hover{ background: #999; border-color: #999; color: #fff; }
.oi-list .item a:hover{ background: #df2128; color: #fff; }
.oc-nav a:hover:after,
.oc-nav a:hover:before{ transform: none; opacity: 1; visibility: visible; }
.oc-nav a:hover{ color: #fff; }
.oc-nav a:hover .ico{ background-position: center bottom; }
.oc-list.jb-list a:hover .jb-ti{ color: #df2128; }
.oc-list.jb-list a:hover .oc-more span{ background-color: #df2128; color: #fff; border-color: #df2128; } 
.ix-ab a:hover .txts{ background: #df2128; }
.gp-list .ma:hover{ box-shadow: 0 0 8px rgba(0, 0, 0, .2); }
.ph-nav a:hover{ color: #df2128; }
.cs-list a:hover .nowti{ color: #df2128; }
.cog4{ padding: 90px 0 110px 0; }
} /* 1153 */
@media screen and (max-width:1800px){} /* 1800 */
@media screen and (max-width:1600px){} /* 1600 */
@media screen and (max-width:1440px){} /* 1440 */
@media screen and (max-width:1366px){} /* 1366 */
@media screen and (max-width:1281px){} /* 1281 */
@media screen and (max-width:1153px){} /* 1153 */
@media screen and (max-width:1024px){
.vwrap .videobox { width: 700px; margin-left: -350px; }
.pw{ width: 90%; }
.fixbg{ background-attachment: scroll; }
.menu-handler{ display: block; }
} /* 1024 */
@media screen and (max-width:861px){
.vwrap .videobox { width: 100%; left: 0; margin-left: 0; }
.mcv{ display: block; }
} /* 861 */
@media screen and (max-width:641px){
.vwrap .videobox { height: 350px; margin-top: -175px; }
} /* 641 */
@media screen and (max-width:601px){} /* 601 */
@media screen and (max-width:481px){
.vwrap .videobox { height: 300px; margin-top: -150px; }
} /* 481 */
@media screen and (max-width:361px){} /* 361 */
@media screen and (max-width:321px){
.vwrap .videobox { height: 260px; margin-top: -130px; }
} /* 321 */
